@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway:wght@100;200;300;400&display=swap');

:root {
  --coffee: #C36A2D;
  --coco: #E2C275;
  --dark: #402218;
}

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

h1, h3 {
  font-family: 'Dancing Script', cursive;
}

*::selection {
  background: var(--coffee);
  color: #fff;
}

html::-webkit-scrollbar {
  width: 1.4rem;
}

html::-webkit-scrollbar-track {
  background: #333;
}

html::-webkit-scrollbar-thumb {
  background: var(--coffee);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  padding: 0 7%;
  padding-top: 12rem;
}

.btn {
  font-size: 2rem;
  padding: .7rem 3rem;
  background: var(--coffee);
  color: #fff;
  margin-top: 1rem;
  cursor: pointer;
}

.btn:hover {
  background: var(--coco);
}

/* header section */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
  width: 100%;
}

header .heading {
  font-size: 3rem;
  color: var(--coffee);
  padding: 1rem;
  text-align: center;
}

header #menu {
  font-size: 3rem;
  color: var(--coco);
  cursor: pointer;
  margin: 1rem;
  display: none;
}

header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  background: var(--coffee);
  padding: 1rem;
}

header .navbar ul li {
  margin: 0 1.5rem;
}

header .navbar ul li a {
  font-size: 2rem;
  color: #fff;
}

header .navbar ul li a:hover {
  color: var(--coco);
}

/* home section */
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/homebg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.home .content {
  text-align: center;
  color: var(--dark);
}

.home .content h1 {
  font-size: 7rem;
  margin: 1rem;
}

.home .content p {
  font-size: 1.8rem;
  padding: 1rem 0;
}

.home .content h3 {
  font-size: 3rem;
  margin: 1rem;
}

/* about section */
.about {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../images/aboutbg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.about .image {
  flex: 1 1 40rem;
}

.about .image img {
  width: 100%;
  align-items: center;
  padding: 4rem;
}

.about .content {
  flex: 1 1 40rem;
  color: var(--dark);
}

.about .content h1 {
  font-size: 5rem;
}

.about .content p {
  font-size: 1.6rem;
  padding: 1rem 0;
}

/* menu section */
.menu {
  padding-bottom: 2rem;
}

.menu .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.menu .box-container .box {
  flex: 1 1 30rem;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
}

.menu .box-container .box img {
  height: 25rem;
  width: 100%;
  object-fit: cover;
}

.menu .box-container .box .content {
  padding: 2rem;
}

.menu .box-container .box .content p {
  font-size: 2rem;
  color: var(--coffee);
  padding: 1rem 0;
}

.menu .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: var(--coffee);
  padding-bottom: 1rem;
}

.menu .box-container .box .content .price {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.menu .box-container .box .content .btn {
  margin: 2rem 0;
}

/* gallery section */
.gallery {
  padding-bottom: 2rem;
}

.gallery .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.gallery .box-container .box {
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
  border: 1rem solid #fff;
  border-radius: .5rem;
  flex: 1 1 30rem;
  height: 25rem;
  position: relative;
}

.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery .box-container .box .content {
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, .7);
  padding: 2rem;
  padding-top: 5rem;
}

.gallery .box-container .box:hover .content {
  top: 0;
}

.gallery .box-container .box .content h3 {
  font-size: 4rem;
  color: var(--coffee);
  padding-bottom: 3rem;
}

/* contact section */
.contact {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 3rem;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../images/contactbg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.contact form {
  flex: 1 1 40rem;
  padding: 2rem;
  margin: 1rem;
  margin-top: 4rem;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .3);
}

.contact .content {
  flex: 1 1 40rem;
  padding: 3rem 1rem;
  color: var(--dark);
}

.contact form .box {
  width: 100%;
  color: var(--dark);
  height: 4rem;
  font-size: 1.7rem;
  border-bottom: .2rem solid rgba(0, 0, 0, .3);
  text-transform: none;
  margin: 1rem 0;
}

.contact form .box::placeholder {
  text-transform: capitalize;
}

.contact form .box:focus {
  border-color: var(--coffee);
}

.contact form .message {
  height: 15rem;
  resize: none;
}

.contact .content {
  color: var(--dark);
}

.contact .content h3 {
  font-size: 4rem;
}

.contact .content p {
  font-size: 1.8rem;
  padding: 1rem 0;
}

.contact .content .icons {
  font-size: 1.7rem;
  color: #333;
  padding: .7rem 0;
}

.contact .content .icons i {
  padding-right: .5rem;
  color: var(--coffee);
}

/* footer section */
.footer {
  background: #333;
}

.footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .box-container .box {
  margin: 2rem;
  flex: 1 1 30rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: #fff;
}

.footer .box-container .box p {
  font-size: 1.4rem;
  color: #eee;
  padding: 1rem 0;
}

.footer .box-container .box a {
  font-size: 1.8rem;
  color: #eee;
  padding: .4rem 0;
  display: block;
}

.footer .box-container .box a:hover {
  text-decoration: underline;
  color: var(--coco);
}

.footer .box-container .box:nth-child(2) {
  text-align: center;
}

.footer .box-container form {
  display: flex;
  align-items: center;
}

.footer .box-container form input[type="email"] {
  height: 4.1rem;
  width: 100%;
  font-size: 1.7rem;
  padding: 0 1rem;
}

.footer .box-container form .btn {
  margin-top: 0;
}

.footer .box-container form .btn:hover {
  color: #fff;
  background: var(--coco);
}

.footer .credit {
  font-size: 2rem;
  background: #222;
  text-align: center;
  color: #fff;
  padding: 2rem 1rem;
  font-weight: normal;
}

.footer .credit a {
  color: var(--coffee);
}

/* media queries */
@media (max-width:768px) {
  html {
    font-size: 55%;
  }

  .home .content {
    text-align: center;
  }

  .home .content h1 {
    font-size: 4rem;
  }

  .about .content h1 {
    font-size: 4rem;
  }
}

@media (max-width:500px) {
  html {
    font-size: 50%;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }

  header #menu {
    display: block;
  }

  header .navbar {
    position: fixed;
    top: 6.2rem;
    right: -120%;
    height: 100%;
    width: 100%;
    border-top: .2rem solid rgba(0, 0, 0, .3);
  }

  header .navbar ul {
    height: 100%;
    width: 100%;
    flex-flow: column;
    background: #fff;
    padding-bottom: 15rem;
  }

  header .navbar ul li {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
  }

  header .navbar ul li a {
    font-size: 4rem;
    color: #333;
    display: block;
  }

  header .navbar ul li a:hover {
    color: var(--coffee);
  }

  .fa-times {
    transform: rotate(180deg);
  }

  header .navbar.nav-toggle {
    right: 0;
  }

  section {
    padding-top: 5rem;
  }
  
  .footer .box-container .box:last-child {
    text-align: center;
  }

  .footer .box-container .box:last-child p {
    font-size: 1.7rem;
  }

  .footer .box-container .box:last-child form {
    flex-flow: column;
  }

  .footer .box-container .box:last-child form .btn {
    margin-top: 1rem;
    width: 100%;
  }
}
